*, *::before, *::after {
    box-sizing: border-box;
}


div a {
    color: white;
    text-decoration: none;
}

.footer {
    height: 22.5vh;
    background-color: #332e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.end-footer {
    padding-top: 0.75rem;
}

.footer-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.foot-city {
    margin: 0.5rem;
    line-height: 0.40rem;
    font-size: 13px;
}

@media (max-width:678px) {
    .footer-start {
        flex-direction: column;
    }
    .footer {
        height: 43.5vh;
    }
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 2rem 0;
    font-size: 13px;
}

/* Header */ 

#logo {
    width: 7rem;
}

.navbar {
    padding: 0.70rem;
}

.header {
    background-color: white;
    font-size: 13px;
}

.header .navbar .btn, #myNavbarCol {
    margin-right: 8px;
}

.header .nav-name {
    font-weight: bold;
    margin: auto 16px;
}

@media (max-width:768px) {
    .header .nav-name {
        margin: 10px 5px;
    }
}

@media (min-width:768px) {
    .btn {
        display: none;
    }
}

.header .nav-vl {
    border-left: 2px solid #d6d6d678;
    height: 24px;
    margin: auto 16px;
    display: block;
}

@media (max-width:768px) {
    .header .nav-vl {
        display: none;
    }
}

li a {
    font-size: 13px;
}

li a i { padding: 0 7px 0 5.5px;}

/* Login Modal */
#login-modal .modal-dialog {
    width: 350px;
    margin: auto;
}

.modal-footer {
    background-color: #f4f4f4;
    justify-content: center;
}


